

.simpsons{

    text-align: center;
    background: lightblue;
    padding: 40px;
    border-bottom: 2px dashed blueviolet;
}
.product-card{
    width: 20%;

    background: lightblue ;


}

.product-card img{
    width: 200px;
    margin-left: 10px;
}
.product-card h3{
    text-align: center;
}
