
.user--div{
    border: 1px solid blueviolet;
    width: 45%;
    text-align: center;
    margin: 5px;
    padding-bottom: 10px;
    background: rgba(73,216,255,0.42);
}
.wrap--user{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    font-size: 20px;
    background:palegoldenrod;
}
