
button {
    width: 90%;
    font-size: 20px;
    background: lightcyan;
    border: 1px solid skyblue;

}

.wrap--btn {
    display: flex;
    justify-content: center;
}
.title--div{
    width: 19%;
    border: 1px solid salmon;
    border-radius: 15%;
    margin: 5px;
    text-align: center;
    padding-bottom: 5px;
    background: navajowhite;
}
.title--wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}
p{
    height: 50px;
}
